/* Default settings */
  
  /* all */
  * {
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-text-size-adjust:100%;
  }
  a, a:visited {
    color:#0000EE;
  }
  
  /* header */
  .header {
    margin:0 auto;
    background:#fff;
    border-bottom:1px solid #D9D9D0;
    height:70px;
  }
  
  /* footer */
  .footer {
    background:#1A1A1A;
    text-align:center;
    padding:15px 0;
    border-top:1px solid #ccc;
    height:53px;
  }
  .footer a, .footer a:visited {
    color:white;
  }
  
  /* container */
  .container {
    background:#F2EFE;
  }
  
  /* main */
  .main {
    width:100%;
    margin: 0 auto;
  }
  .main:after {
    content:"";
    display:block;
    clear:both;
  }
  
  /* content */
  .content {
    float:right;
    width:calc(100% - 270px - 20px);
    height:calc(100vh - 70px - 53px);
    overflow:auto;
    padding-top:18px;
    padding-right:15px;
  }
  
  /* entry */
  .entry {
    background:white;
    margin-bottom:10px;
  }
  .entry li {
    margin-left:25px;
    line-height:1.5;
  }
  
  /* side */
  .side {
    float:left;
    width:270px;
    padding-top:16px;
    padding-left:15px;
  }
  
  /* tags */
  h1 {
    max-width:1020px;
    width:100%;
    font-size:28px;
    padding:16px 10px 0 73px;
    background:url(/images/dbix_custom_logo.png) no-repeat 18px 8px;
    background-size:48px;
    height:100%;
  }
  h1 a, h1 a:visited {
    color:white;
    text-decoration:none;
    color:#333;
  }
  h2 {
    font-size:27px;
    margin:12px 0;
    padding:1px 0 0px 20px;
    letter-spacing:0.5px;
    border-left:8px solid #0070C0;
  }
  h2 a, h2 a:visited {
    text-decoration:none;
    color:#000;
  }
  h3 {
    font-size:20px;
    border-top:4px solid #ddd;
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    background:#F5F5F5;
    margin-top:30px;
  }
  h4 {
    font-size:20px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 18px 0;
    border-bottom:dashed 1px #ddd;
  }
  p {
    font-size:16px;
    color:#111;
    margin:10px 0;
    line-height:1.5;
  }
  pre {
    font-size:16px;
    background:#FCFCFC;
    border:1px solid #CCCCCC;
    border-radius:5px;
    padding:10px 15px;
    margin:10px 0;
    line-height:1.5;
    white-space:pre-wrap;
  }
  blockquote {
    font-size:16px;
    background:#FCFCFC;
    border:1px solid #CCCCCC;
    border-radius:5px;
    padding:10px 15px;
    margin:10px 0;
    line-height:1.5;
  }

  table {
    border-collapse: collapse;
    margin-left:15px;
  }

  table th {
    border:1px solid #ddd;
    padding:7px;
    background:#eee;
    font-weight:bold;
  }

  table td {
    border:1px solid #ddd;
    padding:7px;
  }
  
  /* advanced */
  .day {
    text-align:right;
    color:#999;
  }
  .before-days {
    text-align:center;
  }
  .side-list {
    box-shadow: 0 0 3px rgba(0,0,0,.1);
  }
  .side-list-title {
    background:#0070C0;
    color:white;
    font-weight:bold;
    padding: 12px 0px 10px 0px;
    text-align:center;
    border:1px solid #0070C0;
    border-bottom:none;
  }
  .side-list ul {
  }
  .side-list li {
    list-style:none;
    background:white;
    border:1px solid #D0D0DA;
    border-bottom:none;
    padding:12px 0px 10px 15px;
  }
  .side-list li:last-child {
    border-bottom:1px solid #D0D0DA;
  }

  ol.bread {
    border:none;
    background:none;
    padding:0;
  }
  .bread li {
    display:inline-block;
    list-style-type:none;
    font-size:14px;
    margin:0;
    width:28px;
    height:28px;
  }
  .bread a {
    width:100%;
    background:#2090E0;
    color:white;
    border-radius:3px;
    text-decoration:none;
    display:block;
    padding:3px 3px;
  }
  .bread a:hover {
    background:#2090E0;
  }
  .bread a:visited {
    color:white;
  }
  
  .bread img {
    width:22px;
    vertical-align:-3px;
  }

/* Tablet and Smart phone */
@media only screen and (max-width:960px) {
  .content {
    float:none;
    width:97%;
    margin:0 auto;
    margin-bottom:15px;
  }
  .side {
    float:none;
    width:97%;
    margin:0 auto;
  }
  .hide-smartphone {
    display:none;
  }
}
